body{
	margin:auto;
  font-family: 'Roboto';
}
.cmnd-none{
  display:none;
}
.header-none{
  display:none;
}
 .header-subscribe-text{
  display:none;
}
.wrap{
/*	font-family:Roboto;*/
	margin:auto;
  background:#f0f2f5;
  box-sizing:border-box;
  padding-bottom:32px;

}
.header{
	padding-top:8px;
/*	padding-bottom:-6px;*/
	align-items: center;
 	background:white;
  display:-ms-flex;
  display:-webkit-flex;
 	display:flex;
 	width:100%;
 	justify-content: space-between;
  -webkit-justify-content:space-between;
 	box-shadow: 0 4px #e2e4e7;
}
.sprite {
  background-image: url(img/sprite-logo.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-logo-1 {
  width: 48px;
  height: 48px;
  background-position: -5px -5px;
}

.sprite-logo-meny {
  width: 48px;
  height: 48px;
  background-position: -63px -5px;
  margin-right:8px;
}

.sprite-logo-search {
  width: 48px;
  height: 48px;
  background-position: -5px -63px;
  margin-right:8px;
}

.spritecom {
  background-image: url(img/spritecom.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-clock { 
  width: 17px;
  height: 17px;
  background-position: -5px -5px;
}

.sprite-com {
  width: 17px;
  height: 17px;
  background-position: -32px -5px;
}

.header-logo{
	padding-left:8px;
  display:flex;
  display:-webkit-flex;
  align-items: center;
}
.header-sprites{
	display:flex;
  display:-webkit-flex;
  align-items: center;
}
.logo-title{
  font-size:16px;
  color:#8cc152;
  width:59px;
  padding-left:4px;
  text-transform: uppercase;
 }
 .logo-title-ink{
  display:none;
 }
.main{
	background:#f0f2f5;
	margin: 20px auto 24px auto;
  padding-left:8px;
  padding-right:8px;
}
.none-meny{
  position:absolute;
  background:white;
  top:80px;
  left:0;
  right:0;
  display:none;
}
.none-meny-block{ 
  display:flex;
  display:-webkit-flex;
  flex-direction:column;
  -webkit-flex-direction:column;
  justify-content:center;
  -webkit-justify-content:center;
  align-items:center;
}
.none-meny-section{
  list-style-type: none;
  font-size:16px;
  line-height:60px;
  text-transform: uppercase;
}
.none-meny-section:hover{
  background:grey;
}
.slider{
  border-radius: 4px;
  background: #ff6d55;
  padding-top: 42.38%;
  margin-bottom: 22px;
  height: 0;
  overflow: hidden;
}

.price-list {
    display: flex;
    display:-webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
    margin: 0 -8px;
    padding: 0;
    list-style: none;
}

.price-list__item {
    width: 50%;
    margin-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
}


.rate-card {
    padding: 10px 16px 0;
    border-top: 4px solid transparent;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 rgba(1, 1, 1, 0.06) , inset 0 10px 0 0 black;
}

.price-list__card {
    display: flex;
    display:-webkit-flex;
    flex-flow: column;
    -webkit-flex-flow:column;
    height: 100%;
}

.rate-card__title {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: normal;
    font-size: 24px;
    color: #434a54;
}

.starter-cost{
  color: #fca35b;

}
.basic-cost{
  color: #a0d468;

}
.pro-cost{
  color: #55c1e7;

}
.ultra-cost{
  color: #ff5555;

}

.rate-card__cost {
    margin-top: 0;
    margin-bottom: 10px;
}

.rate-card__description {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 12px;
    color:#aab2bd;
}


.rate-card-none{
  list-style-type:none;
  display: none;
  font-size:11px;
  color:black;
}

.btn {
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    background-color: #aab2bd;
}



.rate-card__btn {
    margin-top: auto;
    margin-left: -16px;
    margin-right: -16px;
    border-radius: 0 0 4px 4px;
}

a {
    text-decoration: none;
}


*, ::before, ::after {
    box-sizing: inherit;
}







.main-comends{
  padding:0px 8px;
	display:flex;
  display:-webkit-flex;
  flex-direction: column;
  -webkit-flex-direction:column;
}
.cmnd-text{
  background:white;
  box-shadow: 0 4px #e2e4e7;border:1px solid white;
  border-radius:5px;
  display:flex;
  display:-webkit-flex;
  flex-direction:column;
  -webkit-flex-direction:column;
  text-align:center;
  align-items:center;
  padding-bottom:10px;
}
.cmnd{
  margin-top:20px;
	padding-bottom:30px;
}
.cmnd-img{
  display:flex;
  display:-webkit-flex;
}
.cmnd-sprite{
  display:flex;
  display:-webkit-flex;
  padding-left:10px;
  font-size:12px;
  align-items:center;
}
.pspr{
  padding:0px 4px;
}
.cmnd-title{
  margin-top:15px;
  padding-top:0px;
  display:flex;
  display:-webkit-flex;
  justify-content: center;
  -webkit-justify-content:center;
  padding-bottom:0px;
  font-size:18px;
}
.cmnd-text-about{
  margin-top:-4px;
  color:#aab2bd;
  line-height:18px;
  font-size:12px;
  padding-left:16px;
  padding-right:19px;
  text-align:left;
  /*padding-bottom:20px;*/
}
.subscribe{
  margin:0px 4px;
  /*margin-top:23px;*/
  background:white;
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  border:1px solid white;
  border-radius:5px;
}
.sub-title{
  font-size:18px;
  padding-top:4px;
  padding-left:16px;
}
.sub-text{
  font-size:14px;
  color:#aab2bd;
  padding-left:16px;
  padding-bottom:0px;
  margin-top:-10px;
/*  padding-bottom:24px;*/

}
.subscribe-text{
  margin-left:16px;
  margin-right:16px;
  padding-left:12px;
  padding-right:16px;
  padding-bottom:0px;
  color:#aab2bd;
  width:230px;
  font-size:12px;
  border:none;
}
.subscribe-some-input{
  padding-bottom:18px;

}
a.knopka {
    color:white;
    text-decoration: none;
    user-select: none;
    background: #aab2bd;
    padding:8px 25%;
    margin-left:16px;
    outline: none;
    font-size:16px;
    text-transform: uppercase;
}
.footer-content{
  font-size:12px;
  background:#e6e9ed;
  padding-left:8px;
  /*padding-right:13px;*/
  padding-top:12px;
  padding-bottom:12px;
}
.a-footer-content{
  color:black;
}
.services{
  width:585px;
}
.img-ink{
  display:none;
}

.subscribe-wrap{
  margin:0px 8px;
  background:url(img/wrap.png);
  padding:4px 0px;
  border:1px solid #c1dffa;
  border-radius:10px;
}

.cmnd-ava{
  border:1px solid black;
  border-radius:40px;
  margin-top:-35px;
  width:80px;
  height:80px;
}
.cmnd-h1-none{
display:none;
}

/*@media screen and (min-width:720px){*/
  @media screen and (min-width:720px){
/*  @media all and (min-width:720px){*/
/*	body{
	width: 720px;
}*/
/*.body{
  padding:0px 8px;
}*/
.main{
  margin-top:12px;
}
.subscribe{
  flex-direction:row;
  align-items:center;
}
.main-comends{
  padding:0px 16px;
}
.sub-text{
  padding-left:40px;
}
.sub-title{
  padding-left:40px;
}
.main-comends{
	flex-direction:row;
}
.cmnd-text{
  padding-bottom:10px;
}
.cmnd{
	padding-bottom:20px;
}
.cmf{
	padding-right:12px;
}
.cml{
	padding-left:12px;
}
.main{
	padding:20px 16px 0px 16px;
}
.header-logo{
	padding-left:16px;
}
.sprite-logo-meny{
  margin-right:15px;
}
.price-list__item{
  margin-bottom:18px;
}
/*.four-blocks-list{
  padding:20px 0px;
  display:flex;
  justify-content: space-around;
  flex-wrap:nowrap;
}*/

/*.four-blocks-list__item{
  background:white;
  padding:10px 10px;
  border:1px solid white;
  border-radius:5px;
  margin-bottom:10px;
  width:20%;
}*/
.cmnd-text-about{
  margin-top:-4px;
  color:#aab2bd;
  line-height:20px;
  font-size:12px;
  padding-left:8px;
  padding-right:8px;
  text-align:left;
  /*padding-bottom:20px;*/
}
.subscribe-ssome-text{
  padding-left:8px;
}
.price-list {
  flex-wrap:nowrap;
}
.img-ink{
  display:flex;
  flex-direction: column;
  font-size:12px;
}
.logo-title-ink{
  display:block;
  font-size:14px;
  color:#c1c7cf;
  padding-left:8px;
}
.logo-title{
  padding-left:8px;
}

.rate-card__btn {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 12px;
    border-radius: 4px;
}
.rate-card {
    
    padding-top:15px;
    padding-left:10px;
    line-height:25px;
}

.rate-card__cost {
    margin-top: 0;
    margin-bottom: 7px;
}

.rate-card__description {
    margin-top: 0;
    padding-top:12px;
    padding-bottom: 0px;
    font-size: 12px;
    color:#aab2bd;
    line-height:15px;
}

.starter:hover {
    background-color: #fca35b;
}

.basic:hover {
    background-color: #a0d468;
}

.pro:hover {
    background-color: #55c1e7;
}

.ultra:hover {
    background-color: #ff5555;
}

.logo-title{
  width:auto;
}
.header-logo-title{
  line-height: 0.5;
}
.slider{
  margin-bottom:30px;
}
.main-slider{
  height:290px;

}
.rate-card-none{
  display: block;
  font-size:11px;
  padding:10px 0px;
}
a.knopka {
    padding:8px 59px;
}
.subscribe-text{
  width:190px;
}
.subscribe-some-input{
  padding-right:19px;
}
.subscribe-wrap{
  margin:0px 16px 10px 16px;
}
.footer-content{
  padding-left:16px;
  font-size:14px;
}
.cmnd{
  padding-bottom:45px;
}
}

/*@media screen and (min-width:1280px){*/
  @media only screen and (min-width:1280px){
/*  @media all and (min-width:1280px){*/

  .subscribe-wrap{
  margin:60px 320px;
}
.cmnd-none{
  display:block;
  width:100%;
  height:auto;

}
.cmnd-ava{
  display:none;
}
.footer-content{
  padding-left:177px;
}
.main-comends{
  padding:0px 177px;
}
.rate-card-none{
  line-height: 20px;
  font-size:12px;
}
  .sprite-logo-meny{
    display:none;
  }
  .header-none{
    display:flex;
    font-size:14px;
    padding:0px 4%;
  }
  .header-none-child{
    padding:0px 18px;
    text-transform: uppercase;

  }
  .header-subscribe-text{
    display:block;
    padding-top:2px;
    padding-bottom:2px;
    color:#aab2bd;
    font-size:13px;
    width:119px;
    border:none;
    margin-right:-2px;
  }
  .header{
/*    padding:0px 150px;*/
    margin:auto;
  }
  .main{
    padding-left:177px;
    padding-right:177px;
  }
  .header-logo{
    padding-left:177px;
  }
  .header-sprites{
  padding-right:177px;
}


.header-none-child:hover{
  box-shadow: 0 5px #e2e4e7;
}

.cmnd-text{
  justify-content: flex-start;
}
.main{
  margin-top:30px;
  margin-bottom:5px;
}
.slider{
  padding-top: 34%;
  margin-bottom:46px;
}
.rate-card {
    
    padding-top:24px;
    padding-left:20px;
    line-height:22px;
    padding-bottom:14px;
}
.rate-card-none{
  line-height: 12px;
}
.rate-card__btn {
    margin-top: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 12px;
    border-radius: 4px;
    padding:3px 0px;
}
.cmnd-title{
  padding-top:20px;
  margin-left:-114px;
}
.cmnd-text-about{
  margin-top:-12px;
  color:#aab2bd;
  line-height:20px;
  font-size:12px;
  padding-left:20px;
  padding-right:20px;
}
.cmnd{
  padding-bottom:20px;
}
.sub-text{
  padding-left:8px;
}
.sub-title{
  padding-left:8px;
  margin-top:0px;
}
a.knopka {
    border-radius:2px;
}
.subscribe-text{
  width:230px;
  font-size:14px;
}
.subscribe-some-input{
  padding-right:5px;

}
.wrap{
  padding-bottom:0px;
}
body{
  background:#f0f2f5;
}
}














